<!DOCTYPE html>
<html>
<head>
  <title>Micro finances</title>
  <%= stylesheet_link_tag    "micro/finances/application", media: "all" %>
  <%= javascript_include_tag "micro/finances/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
